## Preprocessing

In [89]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../deep-learning-challenge/Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [90]:
# Drop the non-beneficial columns, 'EIN'.

application_df = application_df.drop(columns=['EIN'])
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [91]:
# Determine the number of unique values in each column.

application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [92]:
# Look at APPLICATION_TYPE value counts for binning

application_df['NAME'].value_counts()

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [93]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

namecount = application_df['NAME'].value_counts()
application_names_to_replace = list(namecount[namecount<5].index)
# Replace in dataframe
for app in application_names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: NAME, Length: 403, dtype: int64

In [94]:
# Look at CLASSIFICATION value counts for binning
classification_value_counts = application_df.CLASSIFICATION.value_counts()
classification_value_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [95]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_value_counts[classification_value_counts>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [96]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_value_counts[classification_value_counts < 800].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [97]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_application_df = pd.get_dummies(application_df)
dummies_application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [98]:
# Split our preprocessed data into our features and target arrays

y = dummies_application_df['IS_SUCCESSFUL'].values
X = dummies_application_df.drop(['IS_SUCCESSFUL'], axis = 'columns').values
# Split the preprocessed data into a training and testing dataset

X_train,X_test, y_train, y_test = train_test_split(X,y, random_state=1)

In [99]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [103]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

neural_net = tf.keras.models.Sequential()

# First hidden layer

neural_net.add(
    tf.keras.layers.Dense(units=100, input_dim = 454, activation = 'relu')
)
# Second hidden layer

neural_net.add(
     tf.keras.layers.Dense(units=30, activation= 'sigmoid')
)
#Third hidden layer

neural_net.add(
    tf.keras.layers.Dense(units=10, activation= 'sigmoid')
)
#Fourth hidden layer

neural_net.add(
    tf.keras.layers.Dense(units=5, activation= 'sigmoid')
)
# Output layer
neural_net.add(
    tf.keras.layers.Dense(units=1,activation='sigmoid')
)
# Check the structure of the model
neural_net.summary()

Model: "sequential_18"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_73 (Dense)            (None, 100)               45500

 dense_74 (Dense)            (None, 30)                3030

 dense_75 (Dense)            (None, 10)                310

 dense_76 (Dense)            (None, 5)                 55

 dense_77 (Dense)            (None, 1)                 6

=================================================================
Total params: 48,901
Trainable params: 48,901
Non-trainable params: 0
_________________________________________________________________

In [104]:
# Compile the model

neural_net.compile(loss='binary_crossentropy',optimizer='adam', metrics=['accuracy'])

In [105]:
# Train the model
model_fit = neural_net.fit(X_train_scaled,y_train, epochs =100)

Epoch 1/100
804/804 [==============================] - 1s 916us/step - loss: 0.5397 - accuracy: 0.7514
Epoch 2/100
804/804 [==============================] - 1s 909us/step - loss: 0.4592 - accuracy: 0.7929
Epoch 3/100
804/804 [==============================] - 1s 906us/step - loss: 0.4417 - accuracy: 0.7963
Epoch 4/100
804/804 [==============================] - 1s 911us/step - loss: 0.4337 - accuracy: 0.7980
Epoch 5/100
804/804 [==============================] - 1s 907us/step - loss: 0.4294 - accuracy: 0.7992
Epoch 6/100
804/804 [==============================] - 1s 928us/step - loss: 0.4259 - accuracy: 0.7990
Epoch 7/100
804/804 [==============================] - 1s 957us/step - loss: 0.4237 - accuracy: 0.8004
Epoch 8/100
804/804 [==============================] - 1s 932us/step - loss: 0.4222 - accuracy: 0.8008
Epoch 9/100
804/804 [==============================] - 1s 924us/step - loss: 0.4209 - accuracy: 0.8014
Epoch 10/100
804/804 [==============================] - 1s 920us/step - loss: 0.4194 - accuracy: 0.8008
Epoch 11/100
804/804 [==============================] - 1s 928us/step - loss: 0.4184 - accuracy: 0.8021
Epoch 12/100
804/804 [==============================] - 1s 919us/step - loss: 0.4176 - accuracy: 0.8024
Epoch 13/100
804/804 [==============================] - 1s 925us/step - loss: 0.4165 - accuracy: 0.8024
Epoch 14/100
804/804 [==============================] - 1s 912us/step - loss: 0.4160 - accuracy: 0.8033
Epoch 15/100
804/804 [==============================] - 1s 921us/step - loss: 0.4149 - accuracy: 0.8036
Epoch 16/100
804/804 [==============================] - 1s 923us/step - loss: 0.4141 - accuracy: 0.8036
Epoch 17/100
804/804 [==============================] - 1s 908us/step - loss: 0.4135 - accuracy: 0.8036
Epoch 18/100
804/804 [==============================] - 1s 913us/step - loss: 0.4126 - accuracy: 0.8037
Epoch 19/100
804/804 [==============================] - 1s 906us/step - loss: 0.4121 - accuracy: 0.8040
Epoch 20/100
804/804 [==============================] - 1s 904us/step - loss: 0.4124 - accuracy: 0.8038
Epoch 21/100
804/804 [==============================] - 1s 907us/step - loss: 0.4111 - accuracy: 0.8046
Epoch 22/100
804/804 [==============================] - 1s 917us/step - loss: 0.4110 - accuracy: 0.8048
Epoch 23/100
804/804 [==============================] - 1s 908us/step - loss: 0.4105 - accuracy: 0.8051
Epoch 24/100
804/804 [==============================] - 1s 910us/step - loss: 0.4099 - accuracy: 0.8045
Epoch 25/100
804/804 [==============================] - 1s 922us/step - loss: 0.4100 - accuracy: 0.8058
Epoch 26/100
804/804 [==============================] - 1s 915us/step - loss: 0.4092 - accuracy: 0.8061
Epoch 27/100
804/804 [==============================] - 1s 911us/step - loss: 0.4089 - accuracy: 0.8057
Epoch 28/100
804/804 [==============================] - 1s 914us/step - loss: 0.4086 - accuracy: 0.8058
Epoch 29/100
804/804 [==============================] - 1s 921us/step - loss: 0.4083 - accuracy: 0.8063
Epoch 30/100
804/804 [==============================] - 1s 914us/step - loss: 0.4075 - accuracy: 0.8058
Epoch 31/100
804/804 [==============================] - 1s 920us/step - loss: 0.4072 - accuracy: 0.8063
Epoch 32/100
804/804 [==============================] - 1s 931us/step - loss: 0.4069 - accuracy: 0.8060
Epoch 33/100
804/804 [==============================] - 1s 920us/step - loss: 0.4068 - accuracy: 0.8060
Epoch 34/100
804/804 [==============================] - 1s 930us/step - loss: 0.4062 - accuracy: 0.8070
Epoch 35/100
804/804 [==============================] - 1s 932us/step - loss: 0.4061 - accuracy: 0.8064
Epoch 36/100
804/804 [==============================] - 1s 946us/step - loss: 0.4058 - accuracy: 0.8064
Epoch 37/100
804/804 [==============================] - 1s 922us/step - loss: 0.4056 - accuracy: 0.8064
Epoch 38/100
804/804 [==============================] - 1s 929us/step - loss: 0.4057 - accuracy: 0.8073
Epoch 39/100
804/804 [==============================] - 1s 920us/step - loss: 0.4045 - accuracy: 0.8076
Epoch 40/100
804/804 [==============================] - 1s 909us/step - loss: 0.4045 - accuracy: 0.8068
Epoch 41/100
804/804 [==============================] - 1s 909us/step - loss: 0.4044 - accuracy: 0.8073
Epoch 42/100
804/804 [==============================] - 1s 909us/step - loss: 0.4041 - accuracy: 0.8082
Epoch 43/100
804/804 [==============================] - 1s 909us/step - loss: 0.4035 - accuracy: 0.8072
Epoch 44/100
804/804 [==============================] - 1s 931us/step - loss: 0.4033 - accuracy: 0.8075
Epoch 45/100
804/804 [==============================] - 1s 912us/step - loss: 0.4035 - accuracy: 0.8077
Epoch 46/100
804/804 [==============================] - 1s 910us/step - loss: 0.4032 - accuracy: 0.8077
Epoch 47/100
804/804 [==============================] - 1s 926us/step - loss: 0.4030 - accuracy: 0.8075
Epoch 48/100
804/804 [==============================] - 1s 907us/step - loss: 0.4026 - accuracy: 0.8083
Epoch 49/100
804/804 [==============================] - 1s 915us/step - loss: 0.4024 - accuracy: 0.8080
Epoch 50/100
804/804 [==============================] - 1s 923us/step - loss: 0.4025 - accuracy: 0.8084
Epoch 51/100
804/804 [==============================] - 1s 932us/step - loss: 0.4023 - accuracy: 0.8079
Epoch 52/100
804/804 [==============================] - 1s 926us/step - loss: 0.4022 - accuracy: 0.8085
Epoch 53/100
804/804 [==============================] - 1s 918us/step - loss: 0.4019 - accuracy: 0.8086
Epoch 54/100
804/804 [==============================] - 1s 916us/step - loss: 0.4020 - accuracy: 0.8076
Epoch 55/100
804/804 [==============================] - 1s 921us/step - loss: 0.4018 - accuracy: 0.8082
Epoch 56/100
804/804 [==============================] - 1s 918us/step - loss: 0.4010 - accuracy: 0.8087
Epoch 57/100
804/804 [==============================] - 1s 913us/step - loss: 0.4013 - accuracy: 0.8084
Epoch 58/100
804/804 [==============================] - 1s 909us/step - loss: 0.4008 - accuracy: 0.8089
Epoch 59/100
804/804 [==============================] - 1s 914us/step - loss: 0.4010 - accuracy: 0.8082
Epoch 60/100
804/804 [==============================] - 1s 905us/step - loss: 0.4005 - accuracy: 0.8097
Epoch 61/100
804/804 [==============================] - 1s 908us/step - loss: 0.4006 - accuracy: 0.8084
Epoch 62/100
804/804 [==============================] - 1s 908us/step - loss: 0.4005 - accuracy: 0.8089
Epoch 63/100
804/804 [==============================] - 1s 909us/step - loss: 0.3999 - accuracy: 0.8090
Epoch 64/100
804/804 [==============================] - 1s 926us/step - loss: 0.4004 - accuracy: 0.8092
Epoch 65/100
804/804 [==============================] - 1s 915us/step - loss: 0.4000 - accuracy: 0.8089
Epoch 66/100
804/804 [==============================] - 1s 920us/step - loss: 0.4001 - accuracy: 0.8094
Epoch 67/100
804/804 [==============================] - 1s 904us/step - loss: 0.3997 - accuracy: 0.8088
Epoch 68/100
804/804 [==============================] - 1s 909us/step - loss: 0.3999 - accuracy: 0.8101
Epoch 69/100
804/804 [==============================] - 1s 913us/step - loss: 0.3998 - accuracy: 0.8093
Epoch 70/100
804/804 [==============================] - 1s 906us/step - loss: 0.3993 - accuracy: 0.8096
Epoch 71/100
804/804 [==============================] - 1s 905us/step - loss: 0.3996 - accuracy: 0.8093
Epoch 72/100
804/804 [==============================] - 1s 909us/step - loss: 0.3990 - accuracy: 0.8082
Epoch 73/100
804/804 [==============================] - 1s 911us/step - loss: 0.3989 - accuracy: 0.8093
Epoch 74/100
804/804 [==============================] - 1s 920us/step - loss: 0.3987 - accuracy: 0.8096
Epoch 75/100
804/804 [==============================] - 1s 914us/step - loss: 0.3988 - accuracy: 0.8089
Epoch 76/100
804/804 [==============================] - 1s 903us/step - loss: 0.3994 - accuracy: 0.8095
Epoch 77/100
804/804 [==============================] - 1s 913us/step - loss: 0.3992 - accuracy: 0.8103
Epoch 78/100
804/804 [==============================] - 1s 916us/step - loss: 0.3985 - accuracy: 0.8096
Epoch 79/100
804/804 [==============================] - 1s 925us/step - loss: 0.3984 - accuracy: 0.8094
Epoch 80/100
804/804 [==============================] - 1s 920us/step - loss: 0.3993 - accuracy: 0.8107
Epoch 81/100
804/804 [==============================] - 1s 919us/step - loss: 0.3990 - accuracy: 0.8096
Epoch 82/100
804/804 [==============================] - 1s 922us/step - loss: 0.3990 - accuracy: 0.8098
Epoch 83/100
804/804 [==============================] - 1s 913us/step - loss: 0.3990 - accuracy: 0.8098
Epoch 84/100
804/804 [==============================] - 1s 913us/step - loss: 0.3982 - accuracy: 0.8099
Epoch 85/100
804/804 [==============================] - 1s 914us/step - loss: 0.3982 - accuracy: 0.8099
Epoch 86/100
804/804 [==============================] - 1s 909us/step - loss: 0.3980 - accuracy: 0.8100
Epoch 87/100
804/804 [==============================] - 1s 912us/step - loss: 0.3982 - accuracy: 0.8099
Epoch 88/100
804/804 [==============================] - 1s 913us/step - loss: 0.3982 - accuracy: 0.8102
Epoch 89/100
804/804 [==============================] - 1s 912us/step - loss: 0.3981 - accuracy: 0.8100
Epoch 90/100
804/804 [==============================] - 1s 902us/step - loss: 0.3979 - accuracy: 0.8097
Epoch 91/100
804/804 [==============================] - 1s 922us/step - loss: 0.3983 - accuracy: 0.8099
Epoch 92/100
804/804 [==============================] - 1s 916us/step - loss: 0.3981 - accuracy: 0.8101
Epoch 93/100
804/804 [==============================] - 1s 928us/step - loss: 0.3980 - accuracy: 0.8103
Epoch 94/100
804/804 [==============================] - 1s 920us/step - loss: 0.3978 - accuracy: 0.8098
Epoch 95/100
804/804 [==============================] - 1s 920us/step - loss: 0.3974 - accuracy: 0.8102
Epoch 96/100
804/804 [==============================] - 1s 917us/step - loss: 0.3977 - accuracy: 0.8102
Epoch 97/100
804/804 [==============================] - 1s 914us/step - loss: 0.3970 - accuracy: 0.8107
Epoch 98/100
804/804 [==============================] - 1s 915us/step - loss: 0.3970 - accuracy: 0.8101
Epoch 99/100
804/804 [==============================] - 1s 931us/step - loss: 0.3971 - accuracy: 0.8104
Epoch 100/100
804/804 [==============================] - 1s 918us/step - loss: 0.3976 - accuracy: 0.8097

In [106]:
# Evaluate the model using the test data
model_loss, model_accuracy = neural_net.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4585 - accuracy: 0.7914 - 241ms/epoch - 900us/step
Loss: 0.4584789574146271, Accuracy: 0.7913702726364136

In [107]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
neural_net.save("AlphabetSoupCharity_Optimization.h5")